// input[type=text] {
//   width: 100%;
//   padding: 12px 20px;
//   margin: 8px 0;
//   box-sizing: border-box;
// }
// input[type=text]:focus {
//   border: 1px solid #555;
// }


.form-group{
  display: block;
  label{
    display: block;
    padding: 5px 0;
  }
  input, select {
    padding: 5px 0;
    width: 100%;
    height: 30px;
  }
  input[type="file"]{
    height: 40px;
  }
  .cvs-input{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}